<%= render partial: "shared/mypage_menubar" %>
<%= render partial: "shared/mypage/header_spacing" %>
<%= render "shared/mypage/user_profile" %>
<div class="posts posts-mypage">
  <%= render partial: item_template, collection: items, as: symbol %>
</div>
<%= paginate(items) %>
