<%= render partial: "shared/mypage_menubar" %>
<%= render partial: "shared/mypage/header_spacing" %>
<%= render "shared/mypage/user_profile" %>
<div class="posts posts-mypage">
  <%= render partial: "shared/card/post_card", collection: @posts, as: :post %>
</div>
<%= paginate(@posts) %>
