<%= render partial: "posts/navbar" %>
<div class="post-form">
  <h4 class="text-center">プロフィール編集</h4>
  <%= form_with model: @user_profile, url: user_profiles_path, local: true, class: "post-form__form" do |form| %>
    <div class="post-form__form__menu">
      <%= form.submit "保存" , class: "post-form__form__menu__submit btn btn-primary" %>
      <%= link_to "破棄", user_path(current_user.id) , class: "post-form__form__menu__cancel btn btn-outline-primary" %>
    </div>
    <div class="post-form__form__content">
      <%= form.text_area :profile, rows: 3, class: "form-control post-form__form__content__text", placeholder: "プロフィール" %>
      <%= form.label :thumbnail, class: "post-form__form__content__image" do%>
        <%= icon("fas", "image") %>
        <%= form.file_field :thumbnail, class: "post-form__form__content__image__field" %>
      <% end %>
      <%= form.label :bg_image, class: "post-form__form__content__image" do%>
        <%= icon("fas", "image") %>
        <%= form.file_field :bg_image, class: "post-form__form__content__image__field" %>
      <% end %>
    </div>
  <% end %>
</div>
