<%= render partial: "posts/navbar" %>
<div class="post-form">
  <h4 class="text-center pt-3">プロフィール編集</h4>
  <%= form_with model: @user_profile, url: user_profiles_path, local: true, class: "post-form__form" do |form| %>
    <div class="post-form__form__menu">
      <%= form.submit "保存" , class: "post-form__form__menu__submit btn btn-primary" %>
      <%= link_to "破棄", edit_user_profiles_path , class: "post-form__form__menu__cancel btn btn-outline-primary" %>
    </div>
    <div class="post-form__form__content">
      <%= form.text_area :profile, rows: 3, class: "form-control post-form__form__content__text", placeholder: "プロフィール" %>
      <section class="post-form__profile-image-section">
        <div class="post-form__thumbnail-container" id="thumbnail-container">
          <%= icon("fas", "camera", class: "post-form__thumbnail-icon--upload", id: "thumbnail-upload-icon") %>
          <%= icon("far", "window-close", class: "post-form__thumbnail-icon--remove", id: "thumbnail-remove-icon") %>
          <%= form.label :thumbnail, class: "post-form__thumbnail-label" do %>
            <%= image_tag "icons/user-account.jpeg", class: "post-form__thumbnail-image--default", id: "thumbnail-default" %>
          <% end %>
          <% if @user_profile.thumbnail.present? %>
            <%= image_tag @user_profile.thumbnail.to_s, class: "post-form__thumbnail-image--preview", id: "thumbnail-preview" %>
          <% end %>
        </div>
        <%= form.file_field :thumbnail, class: "post-form__form__content__image__field" %>
        <%= form.check_box :remove_thumbnail, class: "post-form__form__content__image__field" %>
      </section>
      <section class="post-form__profile-image-section">
        <div class="post-form__bg-image-container" id="bg-image-container">
          <%= icon("far", "window-close", class: "post-form__bg-image-icon") id: "background-remove-icon" %>
          <%= form.label :bg_image, class: "post-form__bg-image-icon" do id: "background-upload-icon" %>
            <%= icon("fas", "camera") %>
          <% end %>
          <% if @user_profile.bg_image.present? %>
            <div class="post-form__bg-image" style="<%= "background-image: url(#{@user_profile.bg_image.to_s})" id="background-preview" %>" ></div>
          <% end %>
        </div>
        <%= form.file_field :bg_image, class: "_post-form__form__content__image__field" %>
        <%= form.check_box :remove_bg_image, class: "_post-form__form__content__image__field" %>
      </section>
    </div>
  <% end %>

  <div class="post-form-preview">
    <% if @user_profile.bg_image.present? %>
      <div class="post-form__preview-image">
        <%= image_tag @user_profile.bg_image.to_s %>
      </div>
    <% end %>
  </div>
</div>
