<nav class="navbar navbar-expand-sm navbar-light bg-light header__fix-navbar" id="bootstrap-navbar">
  <%= link_to "Twitter Clone", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "投稿", new_post_path, remote: true, class: "nav-link", id: "new-post" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to icon("fas", "user-edit"), edit_user_profiles_path, class: "nav-link" %>
        </li>
      <% elsif %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <%= form_with(url: search_posts_path, local: true, method: :get, id: "search-posts", class: "form-inline my-2 my-lg-0") do |form| %>
      <%= form.text_field :keyword, value: @keyword, placeholder: "キーワード検索", class: "form-control mr-sm-2" %>
      <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
