<%= render "navbar" %>
<%= render "modal_post_container" %>
<div class="posts posts-timeline">
  <%= render partial: "shared/post_card", collection: @posts, as: :post %>
  <% if @posts.empty? %>
    <%= render partial: "notice_no_results" %>
  <% end %>
</div>
<%= paginate(@posts) %>
